$theme-color: #222226;
$text-color: wheat;

.Mainview {
  width: 100vw;
  height: 100vh;
  background-color: $theme-color;
  color: $text-color;
  font-size: 1.7vh;
  align-content: center;
}

.InputForms {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10vh;
}